.RightSidebar {
  background: var(--BG_GRADIENT_L0);
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    background: var(--BG_COLOR_L1);

    &___icons {
      width: 20px;
      height: 20px;
    }

    &___input{
      width: 75%;
    }
  }

  &__searchResults {
    position: relative;
    height: 90%;

    .noResults {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
