.ShowMore {
  max-width: 90%;
  
  &__title {
    padding: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 180px);
    overflow-y: auto;

    &___card {
      width: 150px;
      height: 100px;
      margin: 10px;
    }
  }
}
