@use '../../scss/index.scss' as *;

.LeftSidebar {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: var(--TEXT_COLOR_L0);

    .text1 {
      @include fluid-font-size(1.5, 1, 500);
    }
    .text2 {
      margin-top: 5px;
      @include fluid-font-size(1, 0.7031);
    }

    &.iconWithText {
      justify-content: flex-start;
      span {
        margin-left: 25px;
        @include fluid-font-size(1.5, 1);
      }
    }

    &.active {
      background-color: var(--BG_COLOR_L0);
    }
  }
  .smallIcon {
    svg {
      width: 15px;
      height: 15px;
      & * {
        fill: var(--TEXT_COLOR_L0);
      }
    }
  }

  .separator {
    border-bottom: 0.5px solid var(--TEXT_COLOR_L4);
  }
}
