@use '../../scss/index.scss' as *;

.SearchBar {
  position: relative;

  &.primary {
    input[type='search'] {
      @include inputCommonProperties(bottom, 1px, solid, var(--TEXT_COLOR_L1));
      @include transition(0.2s ease-out);
      &:focus {
        @include inputCommonProperties(bottom, 2px, solid, var(--BRAND_BLUE));
      }

      &::placeholder {
        color: var(--TEXT_COLOR_L1);
        @include fluid-font-size(1, 1);
      }
    }
  }

  &.secondary {
    input[type='search'] {
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--TEXT_COLOR_L1);
      @include fluid-font-size(1.5, 1.25);

      &::placeholder {
        color: var(--TEXT_COLOR_L1);
      }
    }
  }

  input[type='search'] {
    width: 100%;
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
}
