@use '../../scss/index.scss' as *;

.PhoneNumberInput {
  color: var(--TEXT_COLOR_L2);
  @include fluid-font-size(1, 0.875);
  @include inputCommonProperties(bottom,1px,solid,var(--BRAND_BLUE));
  text-transform: capitalize;
  @include transition(0.2s ease-out);

  &:focus {
    @include inputCommonProperties(bottom, 2px, solid, var(--BRAND_BLUE));
  }

  &__error {
    display: flex;
    justify-content: space-between;
    p {
      color: var(--BRAND_RED);
      @include fluid-font-size(0.75, 0.75);
    }
    &___icon {
      width: 18px;
      height: 18px;
       * {
        fill: var(--BRAND_RED);
      }
    }
  }
}